:root {
  --md-admonition-icon--thm: url(./nail.svg)}
.md-typeset .admonition.thm,
.md-typeset details.thm {
  border-color: rgb(24, 0, 0);
    font-size: 17px;
}
.md-typeset .thm > .admonition-title,
.md-typeset .thm > summary {
  background-color: rgba(24, 29, 49, 0.2);

}
.md-typeset .thm > .admonition-title::before,
.md-typeset .thm > summary::before {
  background-color: rgb(126,38,66);
  -webkit-mask-image: var(--md-admonition-icon--thm);
          mask-image: var(--md-admonition-icon--thm);
}

:root {
  --md-admonition-icon--definition: url(./pique.svg)}
.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(24, 0, 0);
    font-size: 17px;
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(24, 29, 49, 0.2);

}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(175,52,32);
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}



:root {
  --md-admonition-icon--lemma: url(./lemma.svg)}
.md-typeset .admonition.lemma,
.md-typeset details.lemma {
  border-color: rgba(243,186,34, 0.1);
    font-size: 17px;
}
.md-typeset .lemma > .admonition-title,
.md-typeset .lemma > summary {
  background-color: rgba(24, 29, 49, 0.05);

}
.md-typeset .lemma > .admonition-title::before,
.md-typeset .lemma > summary::before {
  background-color: rgb(130,52,32);
  -webkit-mask-image: var(--md-admonition-icon--lemma);
          mask-image: var(--md-admonition-icon--lemma);
}

:root {
  --md-admonition-icon--example: url(./lemma.svg)}
.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgba(243,186,34, 0.1);
    font-size: 17px;
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(24, 29, 49, 0.05);

}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(130,52,32);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}

:root {
  --md-admonition-icon--proof: url(./lemma.svg)}
.md-typeset .admonition.proof,
.md-typeset details.proof {
  border-color: rgba(243,186,34, 0.1);
    font-size: 17px;
}
.md-typeset .proof > .admonition-title,
.md-typeset .proof > summary {
  background-color: rgba(24, 29, 49, 0.05);

}
.md-typeset .proof > .admonition-title::before,
.md-typeset .proof > summary::before {
  background-color: rgb(130,52,32);
  -webkit-mask-image: var(--md-admonition-icon--proof);
          mask-image: var(--md-admonition-icon--proof);
}