:root {
  --md-admonition-icon--thm: url(./pique.svg)}
.md-typeset .admonition.thm,
.md-typeset details.thm {
  border-color: rgb(24, 0, 0);
    font-size: 16px;
}
.md-typeset .thm > .admonition-title,
.md-typeset .thm > summary {
  background-color: rgba(24, 29, 49, 0.2);

}
.md-typeset .thm > .admonition-title::before,
.md-typeset .thm > summary::before {
  background-color: rgb(175,52,32);
  -webkit-mask-image: var(--md-admonition-icon--thm);
          mask-image: var(--md-admonition-icon--thm);
}

:root {
  --md-admonition-icon--definiiton: url(./pique.svg)}
.md-typeset .admonition.definiiton,
.md-typeset details.definiiton {
  border-color: rgb(24, 0, 0);
    font-size: 16px;
}
.md-typeset .definiiton > .admonition-title,
.md-typeset .definiiton > summary {
  background-color: rgba(24, 29, 49, 0.2);

}
.md-typeset .definiiton > .admonition-title::before,
.md-typeset .definiiton > summary::before {
  background-color: rgb(175,52,32);
  -webkit-mask-image: var(--md-admonition-icon--definiiton);
          mask-image: var(--md-admonition-icon--definiiton);
}



:root {
  --md-admonition-icon--lemma: url(./star.svg)}
.md-typeset .admonition.lemma,
.md-typeset details.lemma {
  border-color: rgba(243,186,34, 0.1);
    font-size: 16px;
}
.md-typeset .lemma > .admonition-title,
.md-typeset .lemma > summary {
  background-color: rgba(192, 192, 192, 0.1);

}
.md-typeset .lemma > .admonition-title::before,
.md-typeset .lemma > summary::before {
  background-color: rgb(250, 128, 114);
  -webkit-mask-image: var(--md-admonition-icon--lemma);
          mask-image: var(--md-admonition-icon--lemma);
}
